*.py[cod]

# C extensions
*.so
*.lo
*.la

# Packages
*.egg
*.egg-info
dist
build
_build
eggs
parts
bin
var
sdist
version.py
develop-eggs
.installed.cfg
lib
lib64

# Autotools
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
install-sh
ltmain.sh
missing
py-compile
libtool
libtool.m4
config.h
config.status
.deps
stamp-h1
Makefile.in
depcomp
.libs
lt*.m4

# optimizer
iterate.dat

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.cache

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*.ipynb_checkpoints
doc/build/
build/
dist/

## emacs and latex
*.*~
*.aux
*.log
*.out

## Blender packups
*.blend[1-9]

## pytest
.pytest_cache
maximal_depth\.csv

maximal_depth\.png

movie\.avi

movie/clone/clone0\.png

movie/clone/clone1\.png

movie/clone/clone10\.png

movie/clone/clone11\.png

movie/clone/clone2\.png

movie/clone/clone3\.png

movie/clone/clone4\.png

movie/clone/clone5\.png

movie/clone/clone6\.png

movie/clone/clone7\.png

movie/clone/clone8\.png

movie/clone/clone9\.png

movie/ctrl/ctrl0\.png

movie/ctrl/ctrl1\.png

movie/ctrl/ctrl10\.png

movie/ctrl/ctrl11\.png

movie/ctrl/ctrl2\.png

movie/ctrl/ctrl3\.png

movie/ctrl/ctrl4\.png

movie/ctrl/ctrl5\.png

movie/ctrl/ctrl6\.png

movie/ctrl/ctrl7\.png

movie/ctrl/ctrl8\.png

movie/ctrl/ctrl9\.png

movie/ctrlup-clonedown_t105\.tif

movie2-3\.avi
